*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://wallpaperplay.com/walls/full/b/8/c/132126.jpg);
    background-repeat: no-repeat;
}

#title{
    font-size: 30px;
    padding: 100px;
    color: white;
    text-shadow: 5px 5px black;
    font-weight: bolder;
}

#contenitor-square{
    width: 600px;
    height: 600px;
}

.square{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
}

#killia{
    width: 250px;
    margin-left: -75px;
    margin-top: -25px;
}

#seraphina{ 
    width: 300px;
    margin-left: -110px;
}

#prinny{
    width: 200px;
    margin-left: -50px;
}